DIRECTUS_ADMIN_EMAIL=
DIRECTUS_ADMIN_PASSWORD=
DIRECTUS_SECRET=
DIRECTUS_URL=
DISPATCHARR_POSTGRES_PASSWORD=
DISPATCHARR_URL=
DISPATCHARR_API_KEY=
DISPATCHARR_EXPECTED_VERSION=0.27.2
DISPATCHARR_SYNC_INTERVAL_SECONDS=3600
DISPATCHARR_TIMEOUT_SECONDS=20
TAVUNO_CATALOG_CACHE_SECONDS=30
GRAFANA_ADMIN_PASSWORD=
GRAFANA_ADMIN_USER=
OME_URL=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
REDIS_PASSWORD=
TAVUNO_API_PORT=
TAVUNO_API_URL=
TAVUNO_ENV=
TAVUNO_LOG_LEVEL=