:80 {
    handle_path /api/* {
        reverse_proxy tavuno-control:8000
    }

    handle_path /directus/* {
        reverse_proxy directus:8055
    }

    respond / "Tavuno TV M1 reverse proxy is running" 200
}
